python-dotenv
aiohttp 
pandas
google-cloud-translate
azure-maps-search 
azure-core
numpy
tqdm
folium
scikit-learn
matplotlib
sqlalchemy
psycopg2-binary
rapidfuzz
sqlalchemy-schemadisplay 
graphviz
seaborn
imbalanced-learn
geopy
plotly
pingouin
scikit_posthocs
shap